In [12]:
# Import libraries and dependencies
import numpy as np
import pandas as pd
from pathlib import Path

In [4]:
# Set the path

file_path = Path('budget_data.csv')

# Read in the CSV as a DataFrame
budget_csv = pd.read_csv(file_path)
budget_csv.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [6]:
budget_csv.describe()

       Profit/Losses
count   8.600000e+01
mean    4.463090e+05
std     5.363579e+05
min    -1.196225e+06
25%     1.821620e+05
50%     5.703280e+05
75%     7.952262e+05
max     1.170593e+06

In [14]:
###The total number of months included in the dataset.
total_months = budget_csv['Date'].count()
print (f"Total Months: {total_months}")

Total Months: 86

In [15]:
###The net total amount of Profit/Losses over the entire period.
net_total_pnl = budget_csv['Profit/Losses'].sum()
print (f'Net PnL:{net_total_pnl}')

Net PnL:38382578

In [18]:
###The average of the changes in Profit/Losses over the entire period.
pnl_change = budget_csv['Profit/Losses'].diff()
budget_csv['PnL Delta'] = pnl_change

mean_delta = budget_csv['PnL Delta'].mean()
print (f"Average Delta in PNL:{mean_delta}")

Average Delta in PNL:-2315.1176470588234

In [39]:
###The greatest increase in profits (date and amount) over the entire period.
GreatestIncrease = budget_csv['Pnl Delta'].max()

inp_budget_csv = pd.DataFrame(budget_csv)

gi_date = inp_budget_csv.loc[budget_csv["PnL Delta"] == GreatestIncrease]

print (gi_date['Date'].values[0])
print (f"Max Increase in PnL:{GreatestIncrease}")

Feb-2012
Max Increase in PnL:1926159.0

In [42]:
###The greatest decrease in losses (date and amount) over the entire period.
GreatestDecrease = budget_csv['Pnl Delta'].min()

gd_date = inp_budget_csv.loc[budget_csv["PnL Delta"] == GreatestDecrease]

print (gd_date['Date'].values[0])
print (f"Min Increase in PnL:{GreatestDecrease}")

Sep-2013
Min Increase in PnL:-2196167.0